Package: ot-redundancy
Version: 0.5-3
Architecture: all
Maintainer: Simon Rundstedt <simon.rundstedt@vertel.se>
Depends: bash, rsync, odoo
Description: Sync scripts for an odoo installation
 A small script suite synking Odoo data from a source to a target machine as
 applicable at Vertel AB.
Priority: optional
Section: utils
